In [97]:
import pandas as pd

In [138]:
def createCityRow(dataset, city):
    fname = city + ".csv"
    raw_data = pd.read_csv(fname, header=None)
    raw_data = raw_data[[0, 2]]
    df = pd.DataFrame(columns=['date', city])
    date = ""
    index = 0
    for i, r in raw_data.iterrows():
        if not raw_data.loc[i][0].isdigit():
            2011-01-01
            mm = raw_data.loc[i][0]
        elif raw_data.loc[i][0].isdigit() and raw_data.loc[i][0] != "2017":
            df.loc[index] = [str(raw_data.loc[i][0]) + " " + mm, raw_data.loc[i][2]]
            index += 1
    if dataset.empty:
        return df
    else:
        dataset = pd.merge(dataset, df, on="date", how="left")
        return dataset
    
def changeMapping(df):
    df = df.set_index('date')
    df = pd.DataFrame(df.stack().reset_index())
    df.columns = ['date', 'city', 'F']
    df = df[['city', 'date', 'F']]
    return df

In [142]:
def main():
    cities = ['Montreal', 'newYork', 'sanFrancisco', 'Toronto', 'Vancouver']
    df = pd.DataFrame()
    for city in cities:
        df = createCityRow(df, city)
    df = changeMapping(df)
    df.to_csv('All.csv', index=False)
main()

In [144]:
df = pd.read_csv('All.csv')
df.head()

              city    date   F          C
0         Montreal   1 Jan  20  -6.666667
1          newYork   1 Jan  44   6.666667
2     sanFrancisco   1 Jan  50  10.000000
3          Toronto   1 Jan  34   1.111111
4        Vancouver   1 Jan  35   1.666667
5         Montreal   2 Jan  24  -4.444444
6          newYork   2 Jan  38   3.333333
7     sanFrancisco   2 Jan  48   8.888889
8          Toronto   2 Jan  36   2.222222
9        Vancouver   2 Jan  32   0.000000
10        Montreal   3 Jan  26  -3.333333
11         newYork   3 Jan  41   5.000000
12    sanFrancisco   3 Jan  52  11.111111
13         Toronto   3 Jan  38   3.333333
14       Vancouver   3 Jan  30  -1.111111
15        Montreal   4 Jan  30  -1.111111
16         newYork   4 Jan  44   6.666667
17    sanFrancisco   4 Jan  52  11.111111
18         Toronto   4 Jan  28  -2.222222
19       Vancouver   4 Jan  31  -0.555556
20        Montreal   5 Jan  18  -7.777778
21         newYork   5 Jan  30  -1.111111
22    sanFrancisco   5 Jan  46   7.777778
23         Toronto   5 Jan  19  -7.222222
24       Vancouver   5 Jan  32   0.000000
25        Montreal   6 Jan  12 -11.111111
26         newYork   6 Jan  29  -1.666667
27    sanFrancisco   6 Jan  44   6.666667
28         Toronto   6 Jan  16  -8.888889
29       Vancouver   6 Jan  35   1.666667
...            ...     ...  ..        ...
1795      Montreal  26 Dec   6 -14.444444
1796       newYork  26 Dec  26  -3.333333
1797  sanFrancisco  26 Dec  51  10.555556
1798       Toronto  26 Dec  10 -12.222222
1799     Vancouver  26 Dec  34   1.111111
1800      Montreal  27 Dec  -4 -20.000000
1801       newYork  27 Dec  21  -6.111111
1802  sanFrancisco  27 Dec  50  10.000000
1803       Toronto  27 Dec   9 -12.777778
1804     Vancouver  27 Dec  35   1.666667
1805      Montreal  28 Dec -10 -23.333333
1806       newYork  28 Dec  15  -9.444444
1807  sanFrancisco  28 Dec  50  10.000000
1808       Toronto  28 Dec   4 -15.555556
1809     Vancouver  28 Dec  38   3.333333
1810      Montreal  29 Dec  -6 -21.111111
1811       newYork  29 Dec  17  -8.333333
1812  sanFrancisco  29 Dec  50  10.000000
1813       Toronto  29 Dec  12 -11.111111
1814     Vancouver  29 Dec  40   4.444444
1815      Montreal  30 Dec  -6 -21.111111
1816       newYork  30 Dec  20  -6.666667
1817  sanFrancisco  30 Dec  51  10.555556
1818       Toronto  30 Dec  11 -11.666667
1819     Vancouver  30 Dec  38   3.333333
1820      Montreal  31 Dec  -6 -21.111111
1821       newYork  31 Dec  15  -9.444444
1822  sanFrancisco  31 Dec  51  10.555556
1823       Toronto  31 Dec   2 -16.666667
1824     Vancouver  31 Dec  38   3.333333

[1825 rows x 4 columns]